<!DOCTYPE html>
<html>
<head>
  <title>MetroExitView</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
